# Ignore Mac system files
.DS_store

# Ignore pycache directories
__pycache__

# Ignore .pyc files
*.pyc

# Ignore pickle files
*.pickle

# Ignore dataset/* except dataset/unknown
dataset/*
!dataset/unknown
